@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>Welcome to our online shopping website!</h3>

<p class="text-justify">
    Our about page is the place to learn more about who we are and what we stand for. Here's a brief description of what you can expect to find:

    At our online shopping website, we are passionate about bringing you the best products at affordable prices. We believe that shopping should be easy, convenient, and enjoyable, and we strive to create an online shopping experience that reflects those values.

    Our team is made up of dedicated professionals who are committed to providing you with exceptional customer service. We work hard to ensure that your shopping experience is smooth and hassle-free, from browsing our website to making a purchase and receiving your order.

    We are also committed to sustainability and ethical business practices. We believe that it is our responsibility to minimize our impact on the environment and to support fair labor practices in the manufacturing of our products. That's why we carefully select our suppliers and products, ensuring that they meet our high standards for quality, sustainability, and social responsibility.

    Thank you for choosing to shop with us. We look forward to serving you and providing you with an exceptional online shopping experience.
</p>
