@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Hadayek El Ahram<br />
    Gardenia street, 15G building<br />
    <abbr title="Phone">P:</abbr>
    01112345678
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:noureldin2662002@gmail.com">noureldin2662002@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>